@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Berkeley Primary Palette
$berkeley-blue: #003262;
$founders-rock: #3B7EA1;
$california-gold: #FDB515;
$medalist: #C4820E;

// Berkeley Secondary Palette
$wellman-tile: #D9661F;
$rose-garden: #EE1F60;
$golden-gate: #ED4E33;
$south-hall: #6C3302;
$bay-fog: #DDD5C7;
$lawrence: #00B0DA;
$lap-lane: #00A598;
$pacific: #46535E;
$sather-gate: #B9D3B6;
$ion: #CFDD45;
$soybean: #859438;
$stone-pine: #584F29;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $berkeley-blue;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

/* TODO: Import selectively, we don't need all of Bulma.
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
*/

@import "../../node_modules/bulma/bulma.sass";
// This doubles the amount of color work... have to consider it + reimplement it.
// @import "../../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";
